<h1>My Dashboard</h1>

<h3>Input Wish List Name</h3>
<form method='POST'>
  <input
    id='input-wishList'
    type='text'
    name='listName'
    autofocus='on'
    placeholder='e.g. Big Ticket Items'
  />
  <button class='btn-submit'>Add Wish List</button>
</form>

{{#each wishList}}
  <ul>
    <li>
      <a href='/wishlist-items/{{this.id}}'>{{listName}}</a>
      <form action='/wishlist/{{this.id}}/delete' method='POST'>
        <button class='btn btn-outline-danger mb-2'>Delete List</button>
      </form>
      <form action='/wishlist/{{this.id}}/archive' method='POST'>
        <button class='btn mb-2'>Archive List</button>
      </form>
    </li>
  </ul>
{{/each}}

<h3>Search for Friends</h3>
<form action='friend-search' method='GET'>
  <input
    id='input-friend-search'
    type='text'
    name='name'
    autofocus='on'
    placeholder='e.g. Loser Cousin'
  />
  <button class='btn-submit'>Search</button>
</form>

<div>
  <h3>

    Following
  </h3>
  {{#each friendList}}
    <a href='/friend/{{this.id}}'>
      {{friendsOnList.name}}
    </a>
    <form action='/unfollow-friend/{{id}}' method='POST'>

      <button class='btn-submit'>Unfollow</button>
    </form>
  {{/each}}

</div>